<h3>Angular Cities auto complete drop down</h3>

<form class="form">
  <mat-form-field class="width">
    <input matInput placeholder="City" aria-label="City" [matAutocomplete]="auto" [formControl]="cityCtrl" required matTooltip="Type to filter the City list"
        matTooltipPosition="after">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of filteredCity | async" [value]="city.name">
        <span>{{ city.country }} | {{ city.subcountry }} | {{ city.geonameid }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
